<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>员工-编辑</title>
<link rel="stylesheet" th:href="@{/css/showButton.css}">

<link rel="stylesheet" th:href="@{/hplus/css/bootstrap.min.css?v=3.3.6}">
<link rel="stylesheet" th:href="@{/hplus/css/font-awesome.css?v=4.4.0}">
<link rel="stylesheet" th:href="@{/hplus/css/plugins/iCheck/custom.css}">
<link rel="stylesheet" th:href="@{/hplus/css/plugins/chosen/chosen.css}">
<link rel="stylesheet" th:href="@{/hplus/css/plugins/colorpicker/css/bootstrap-colorpicker.min.css}">
<link rel="stylesheet" th:href="@{/hplus/css/plugins/cropper/cropper.min.css}">
<link rel="stylesheet" th:href="@{/hplus/css/plugins/switchery/switchery.css}">
<link rel="stylesheet" th:href="@{/hplus/css/plugins/jasny/jasny-bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/hplus/css/plugins/nouslider/jquery.nouislider.css}">
<link rel="stylesheet" th:href="@{/hplus/css/plugins/datapicker/datepicker3.css}">
<link rel="stylesheet" th:href="@{/hplus/css/plugins/ionRangeSlider/ion.rangeSlider.css}">
<link rel="stylesheet" th:href="@{/hplus/css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css}">
<link rel="stylesheet" th:href="@{/hplus/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css}">
<link rel="stylesheet" th:href="@{/hplus/css/plugins/clockpicker/clockpicker.css}">
<link rel="stylesheet" th:href="@{/hplus/css/animate.css}">
<link rel="stylesheet" th:href="@{/hplus/css/style.css?v=4.1.0}">
</head>
<body class="gray-bg">
	<div class="button-row">
		<button type="button" class="btn btn-primary" id="B_BASE_INFO_USER_SAVE"><i class="fa fa-save"></i> 保存</button>
		<button type="button" class="btn btn-primary" id="B_BASE_INFO_USER_BACK"><i class="fa fa-reply"></i> 返回</button>
	</div>
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="white-bg show-area" style="padding-left: 15px;padding-right: 15px;">
			<form class="form-horizontal m-t-md" id="upUser">
				<div class="row">
					<div class="col-sm-6">
						<div class="ibox float-e-margins">
							<div class="ibox-content">
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group">
											<label class="col-sm-3 control-label fill">账号：</label>
											<div class="col-sm-8">
												<div class="input-group" style="width: 100%;">
													<select id="accountCode" name="accountCode" th:value="${data.accountCode}" data-placeholder="请选择账号" class="chosen-select" tabindex="2">
														<option value="">请选择账号</option>
														<option th:selected="${m.accountCode eq data.accountCode}" th:each="m,obj:${accounts}" th:value="${m.accountCode}" th:text="${m.accountCode}"></option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group">
											<label class="col-sm-3 control-label fill">工号：</label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="userCode" name="userCode" th:value="${data.userCode}" placeholder="请输入工号" onkeyup="isNuZiMu(this);">
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group">
											<label class="col-sm-3 control-label fill">姓名：</label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="userName" name="userName" th:value="${data.userName}" placeholder="请输入姓名">
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group">
											<label class="col-sm-3 control-label fill">性别：</label>
											<div class="col-sm-8">
												<div class="input-group" style="width: 100%;">
													<select id="userSex" name="userSex" th:value="${data.userSex}" data-placeholder="请选择性别" class="chosen-select" tabindex="2">
														<option value="">请选择性别</option>
														<option th:selected="${m.key eq data.userSex}" th:each="m,obj:${sexFlag}" th:value="${m.key}" th:text="${m.value}"></option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group" id="data_1">
											<label class="col-sm-3 control-label fill">入职时间：</label>
											<div class="col-sm-8">
												<div class="input-group date">
													<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
													<input type="text" class="form-control" id="entryTime" name="entryTime" th:value="${#dates.format(data.entryTime, 'yyyy-MM-dd')}" placeholder="请选择入职时间">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group">
											<label class="col-sm-3 control-label fill">身份证号：</label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="userCardId" name="userCardId" th:value="${data.userCardId}" placeholder="请输入身份证号" onchange="isCardID(this);">
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group">
											<label class="col-sm-3 control-label fill">现住地址：</label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="address" name="address" th:value="${data.address}" placeholder="请输入现住地址">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="ibox float-e-margins">
							<div class="ibox-content">
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group">
											<label class="col-sm-3 control-label fill">手机号：</label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="phoneNumber" name="phoneNumber" th:value="${data.phoneNumber}" placeholder="请输入手机号" onchange="isMobile(this);">
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group">
											<label class="col-sm-3 control-label">省：</label>
											<div class="col-sm-8">
												<div class="input-group" style="width: 100%;">
													<select id="provinceCode" name="provinceCode" th:value="${data.provinceCode}" data-placeholder="请选择省份" class="chosen-select" tabindex="2" onchange="getCitie(this);">
														<option value="">请选择省份</option>
														<option th:selected="${m.provinceid eq data.provinceCode}" th:each="m,obj:${province}" th:value="${m.provinceid}" th:text="${m.province}"></option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group">
											<label class="col-sm-3 control-label">市：</label>
											<input id="city" th:value="${data.cityCode}" class="hide">
											<div class="col-sm-8">
												<div class="input-group" style="width: 100%;">
													<select id="cityCode" name="cityCode" th:value="${data.cityCode}" data-placeholder="请选择市" class="chosen-select" tabindex="2" onchange="getArea(this);" disabled="disabled">
														<option value="">请选择市</option>
														<option th:selected="${m.key eq data.cityCode}" th:each="m,obj:${cityCodes}" th:value="${m.key}" th:text="${m.value}"></option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group">
											<label class="col-sm-3 control-label">区：</label>
											<input id="area" th:value="${data.areaCode}" class="hide">
											<div class="col-sm-8">
												<div class="input-group" style="width: 100%;">
													<select id="areaCode" name="areaCode" th:value="${data.areaCode}" data-placeholder="请选择区" class="chosen-select" tabindex="2" disabled="disabled">
														<option value="">请选择区</option>
														<option th:selected="${m.key eq data.areaCode}" th:each="m,obj:${areaCodes}" th:value="${m.key}" th:text="${m.value}"></option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group">
											<label class="col-sm-3 control-label">员工状态：</label>
											<div class="col-sm-8">
												<div class="input-group" style="width: 100%;">
													<select id="staffFlg" name="staffFlg" th:value="${data.staffFlg}" data-placeholder="请选择员工状态" class="chosen-select" tabindex="2">
														<option value="">请选择员工状态</option>
														<option th:selected="${m.key eq data.staffFlg}" th:each="m,obj:${staffFlgs}" th:value="${m.key}" th:text="${m.value}"></option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group" id="data_1">
											<label class="col-sm-3 control-label">转正时间：</label>
											<div class="col-sm-8">
												<div class="input-group date">
													<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
													<input type="text" class="form-control" id="officialTime" name="officialTime" th:value="${#dates.format(data.officialTime, 'yyyy-MM-dd')}" placeholder="请选择转正时间">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group" id="data_1">
											<label class="col-sm-3 control-label">离职时间：</label>
											<div class="col-sm-8">
												<div class="input-group date">
													<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
													<input type="text" class="form-control" id="dimissionTime" name="dimissionTime" th:value="${#dates.format(data.dimissionTime, 'yyyy-MM-dd')}" placeholder="请选择离职时间">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	<!-- 全局js -->
	<script type="text/javascript" th:src="@{/hplus/js/jquery.min.js?v=2.1.4}"></script>
	<script type="text/javascript" th:src="@{/hplus/js/bootstrap.min.js?v=3.3.6}"></script>
	<!-- Chosen -->
	<script type="text/javascript" th:src="@{/hplus/js/plugins/chosen/chosen.jquery.js}"></script>
	<!-- JSKnob -->
	<script type="text/javascript" th:src="@{/hplus/js/plugins/jsKnob/jquery.knob.js}"></script>
	<!-- Input Mask-->
	<script type="text/javascript" th:src="@{/hplus/js/plugins/jasny/jasny-bootstrap.min.js}"></script>
	<!-- Data picker -->
	<script type="text/javascript" th:src="@{/hplus/js/plugins/datapicker/bootstrap-datepicker.js}"></script>
	<!-- Prettyfile -->
	<script type="text/javascript" th:src="@{/hplus/js/plugins/prettyfile/bootstrap-prettyfile.js}"></script>
	<!-- Switchery -->
	<script type="text/javascript" th:src="@{/hplus/js/plugins/switchery/switchery.js}"></script>
	<!-- IonRangeSlider -->
	<script type="text/javascript" th:src="@{/hplus/js/plugins/ionRangeSlider/ion.rangeSlider.min.js}"></script>
	<!-- iCheck -->
	<script type="text/javascript" th:src="@{/hplus/js/plugins/iCheck/icheck.min.js}"></script>
	<!-- MENU -->
	<script type="text/javascript" th:src="@{/hplus/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
	<!-- Color picker -->
	<script type="text/javascript" th:src="@{/hplus/js/plugins/colorpicker/bootstrap-colorpicker.min.js}"></script>
	<!-- Clock picker -->
	<script type="text/javascript" th:src="@{/hplus/js/plugins/clockpicker/clockpicker.js}"></script>
	<!-- Image cropper -->
	<script type="text/javascript" th:src="@{/hplus/js/plugins/cropper/cropper.min.js}"></script>
	<script type="text/javascript" th:src="@{/hplus/js/demo/form-advanced-demo.js}"></script>
	<!-- 自定义 -->
	<script type="text/javascript" th:src="@{/js/bolue.js}"></script>
	<!-- jQuery Validation plugin javascript-->
	<script type="text/javascript" th:src="@{/hplus/js/plugins/validate/jquery.validate.min.js}"></script>
	<script type="text/javascript" th:src="@{/hplus/js/plugins/validate/messages_zh.min.js}"></script>
	<script type="text/javascript" th:src="@{/hplus/js/demo/form-validate-demo.js}"></script>
	
	<script type="text/javascript">
		$(function(){
			// jQuery validate
			$("#upUser").validate({
				rules: {//设置必填项
					accountCode: {
						required: true
					},
					userCode: {
						required: true,
						maxlength: 20
					},
					userName: {
						required: true,
						maxlength: 30
					},
					userSex: {
						required: true
					},
					entryTime: {
						required: true
					},
					userCardId: {
						required: true,
						maxlength: 18
					},
					address: {
						required: true,
						maxlength: 255
					},
					phoneNumber: {
						required: true,
						maxlength: 11
					}
				},
				messages: {
					accountCode: {
						required: "请选择账号"
					},
					userCode: {
						required: "请输入工号",
						maxlength: $.validator.format("请输入长度为 {0} 以内的字符串"),
					},
					userName: {
						required: "请输入姓名",
						maxlength: $.validator.format("请输入长度为 {0} 以内的字符串"),
					},
					userSex: {
						required: "请选择性别"
					},
					entryTime: {
						required: "请选择入职时间"
					},
					userCardId: {
						required: "请输入身份证号",
						maxlength: $.validator.format("请输入长度为 {0} 以内的身份证号"),
					},
					address: {
						required: "请输入现住地址",
						maxlength: $.validator.format("请输入长度为 {0} 以内的身份证号"),
					},
					phoneNumber: {
						required: "请输入手机号",
						maxlength: $.validator.format("请输入长度为 {0} 以内的身份证号"),
					}
				},
				//ignore:":hidden:not(select)",
				submitHandler: function(form){
					var data = $("#upUser").serialize();
					$.ajax({
						type: "post",
						url: "/baseinfo/user/saveup",
						data: data,
						dataType: "json",
						success: function(data){
							console.log(data);
							if(data.success){
								window.parent.showMsgSuccess("成功提示", data.errorMessage);
							}else{
								window.parent.showMsg("异常提示", data.errorMessage);
							}
						},
						error: function(error){
							
						}
					});
				},
				invalidHandler: function(form, validator) {  //不通过回调
					console.log("不通过回调");
					return false;
				}
			});
			
			//保存
			$("#B_BASE_INFO_USER_SAVE").click(function(){
				$("#upUser").submit();
			});
			//返回
			$("#B_BASE_INFO_USER_BACK").click(function(){
				window.location.href="/baseinfo/user/list";
			});
			
			//下拉框宽度设置
			$("#accountCode_chosen").css("width","100%");
			$("#userSex_chosen").css("width","100%");
			$("#provinceCode_chosen").css("width","100%");
			$("#cityCode_chosen").css("width","100%");
			$("#areaCode_chosen").css("width","100%");
			$("#staffFlg_chosen").css("width","100%");
			
			//初始化省市区
			var _province = $("#provinceCode").val();
			if(!isEmpty(_province)){
				getCitie("",_province);
			}
			var _city = $("#city").val();
			if(!isEmpty(_city)){
				getArea("",_city);
			}
		})
		
		//选择菜单
		function chooseMenu(obj){
			//清空其他项目
			$("#buttonCode").val("");
			$("#buttonName").val("");
			$("#buttonUrl").val("");
		}
		
		//省市区联动
		var sheng = "";
		var shi = "";
		var flg1 = false;
		var flg2 = false;
		
		//获取市
		function getCitie(obj, param){
			console.log("param", param);
			if(!isEmpty(obj.value)){
				param = obj.value;
			}
			console.log("param111：", param);
			if(flg1 && sheng != param){console.log("111");
				$("#cityCode").attr("disabled", true);
				$("#cityCode").empty();
				$("#cityCode").append("<option value=''>请选择市</option>");
				$("#areaCode").attr("disabled", true);
				$("#areaCode").empty();
				$("#areaCode").append("<option value=''>请选择市</option>");
				$("#areaCode").trigger("chosen:updated");
			}
			if(isEmpty(param)){console.log("222");
				$("#cityCode").attr("disabled", true);
				$("#cityCode").empty();
				$("#cityCode").append("<option value=''>请选择市</option>");
				$("#areaCode").attr("disabled", true);
				$("#areaCode").empty();
				$("#areaCode").append("<option value=''>请选择市</option>");
				$("#areaCode").trigger("chosen:updated");
			}else{console.log("333");
				sheng = obj.value;
				flg1 = true;
				$.ajax({
					type: "post",
					url: "/common/citie",
					data: {"provinceid": param},
					dataType: "json",
					success: function(data){
						console.log("data", data);
						$("#cityCode").empty();
						var ci = "<option value=''>请选择市</option>";
						var _city = $("#city").val();
						data.citie.forEach(v=>{
							if(_city == v.cityid){
								ci += "<option selected='selected' value="+v.cityid+">"+v.city+"</option>";
							}else{
								ci += "<option value="+v.cityid+">"+v.city+"</option>";
							}
							
						});
						$("#cityCode").append(ci);
						$("#cityCode").trigger("chosen:updated");
					}
				});
				$("#cityCode").removeAttr("disabled");
			}
			
			$("#cityCode").trigger("chosen:updated");
		}
		
		//获取区
		function getArea(obj, param){
			if(!isEmpty(obj.value)){
				param = obj.value;
			}
			
			if(flg2 && shi != param){
				$("#areaCode").attr("disabled", true);
				$("#areaCode").empty();
				$("#areaCode").append("<option value=''>请选择市</option>");
			}
			if(isEmpty(param)){
				$("#areaCode").attr("disabled", true);
				$("#areaCode").empty();
				$("#areaCode").append("<option value=''>请选择市</option>");
			}else{
				shi = obj.value;
				flg2 = true;
				$.ajax({
					type: "post",
					url: "/common/area",
					data: {"cityid": param},
					dataType: "json",
					success: function(data){
						console.log("data", data);
						$("#areaCode").empty();
						var ci = "<option value=''>请选择市</option>";
						var _area = $("#area").val();
						data.area.forEach(v=>{
							if(_area == v.areaid){
								ci += "<option selected='selected' value="+v.areaid+">"+v.area+"</option>";
							}else{
								ci += "<option value="+v.areaid+">"+v.area+"</option>";
							}
							
						});
						$("#areaCode").append(ci);
						$("#areaCode").trigger("chosen:updated");
					}
				});
				$("#areaCode").removeAttr("disabled");
			}
			
			$("#areaCode").trigger("chosen:updated");
		}
	</script>
</body>
</html>