<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>枚举类型-新增</title>
<link rel="stylesheet" th:href="@{/css/showButton.css}">
<link rel="stylesheet" th:href="@{/hplus/css/bootstrap.min.css?v=3.3.6}">
<link rel="stylesheet" th:href="@{/hplus/css/font-awesome.css?v=4.4.0}">
<link rel="stylesheet" th:href="@{/hplus/css/plugins/iCheck/custom.css}">
<link rel="stylesheet" th:href="@{/hplus/css/plugins/chosen/chosen.css}">
<link rel="stylesheet" th:href="@{/hplus/css/plugins/colorpicker/css/bootstrap-colorpicker.min.css}">
<link rel="stylesheet" th:href="@{/hplus/css/plugins/cropper/cropper.min.css}">
<link rel="stylesheet" th:href="@{/hplus/css/plugins/switchery/switchery.css}">
<link rel="stylesheet" th:href="@{/hplus/css/plugins/jasny/jasny-bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/hplus/css/plugins/nouslider/jquery.nouislider.css}">
<link rel="stylesheet" th:href="@{/hplus/css/plugins/datapicker/datepicker3.css}">
<link rel="stylesheet" th:href="@{/hplus/css/plugins/ionRangeSlider/ion.rangeSlider.css}">
<link rel="stylesheet" th:href="@{/hplus/css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css}">
<link rel="stylesheet" th:href="@{/hplus/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css}">
<link rel="stylesheet" th:href="@{/hplus/css/plugins/clockpicker/clockpicker.css}">
<link rel="stylesheet" th:href="@{/hplus/css/animate.css}">
<link rel="stylesheet" th:href="@{/hplus/css/style.css?v=4.1.0}">
</head>
<body class="gray-bg">
	<div class="modal-header" style="padding: 10px 15px;">
		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<div class="modal-title" style="font-size: 20px;">新增枚举类型</div>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" id="addEnu">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-4 control-label fill">枚举编号：</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="enumCode" name="enumCode" placeholder="请输入枚举编号" onkeyup="grapheme_(this);">
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-4 control-label fill">枚举名称：</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="enumName" name="enumName" placeholder="请输入枚举名称">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-4 control-label">枚举状态：</label>
						<div class="col-sm-8">
							<div class="input-group" style="width: 100%;">
								<select id="validateFlag" name="validateFlag" data-placeholder="请选择枚举状态" class="chosen-select" tabindex="2">
									<option th:selected="${m.key eq 'Y'}" th:each="m,obj:${validateFlag}" th:value="${m.key}" th:text="${m.value}"></option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
		<button type="button" class="btn btn-primary" id="B_BASE_INFO_ENUM_SAVE">保存</button>
	</div>
	
	<!-- 全局js -->
	<script type="text/javascript" th:src="@{/hplus/js/jquery.min.js?v=2.1.4}"></script>
	<script type="text/javascript" th:src="@{/hplus/js/bootstrap.min.js?v=3.3.6}"></script>
	<!-- Chosen -->
	<script type="text/javascript" th:src="@{/hplus/js/plugins/chosen/chosen.jquery.js}"></script>
	<!-- JSKnob -->
	<script type="text/javascript" th:src="@{/hplus/js/plugins/jsKnob/jquery.knob.js}"></script>
	<!-- Input Mask-->
	<script type="text/javascript" th:src="@{/hplus/js/plugins/jasny/jasny-bootstrap.min.js}"></script>
	<!-- Data picker -->
	<script type="text/javascript" th:src="@{/hplus/js/plugins/datapicker/bootstrap-datepicker.js}"></script>
	<!-- Prettyfile -->
	<script type="text/javascript" th:src="@{/hplus/js/plugins/prettyfile/bootstrap-prettyfile.js}"></script>
	<!-- Switchery -->
	<script type="text/javascript" th:src="@{/hplus/js/plugins/switchery/switchery.js}"></script>
	<!-- IonRangeSlider -->
	<script type="text/javascript" th:src="@{/hplus/js/plugins/ionRangeSlider/ion.rangeSlider.min.js}"></script>
	<!-- iCheck -->
	<script type="text/javascript" th:src="@{/hplus/js/plugins/iCheck/icheck.min.js}"></script>
	<!-- MENU -->
	<script type="text/javascript" th:src="@{/hplus/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
	<!-- Color picker -->
	<script type="text/javascript" th:src="@{/hplus/js/plugins/colorpicker/bootstrap-colorpicker.min.js}"></script>
	<!-- Clock picker -->
	<script type="text/javascript" th:src="@{/hplus/js/plugins/clockpicker/clockpicker.js}"></script>
	<!-- Image cropper -->
	<script type="text/javascript" th:src="@{/hplus/js/plugins/cropper/cropper.min.js}"></script>
	<script type="text/javascript" th:src="@{/hplus/js/demo/form-advanced-demo.js}"></script>
	<!-- jQuery Validation plugin javascript-->
	<script type="text/javascript" th:src="@{/hplus/js/plugins/validate/jquery.validate.min.js}"></script>
	<script type="text/javascript" th:src="@{/hplus/js/plugins/validate/messages_zh.min.js}"></script>
	<script type="text/javascript" th:src="@{/hplus/js/demo/form-validate-demo.js}"></script>
	
	<script type="text/javascript" th:src="@{/js/bolue.js}"></script>
	
	<script type="text/javascript">
		$(function(){
			// jQuery validate
			$("#addEnu").validate({
				rules: {//设置必填项
					enumCode: {
						required: true,
						maxlength: 30
					},
					enumName: {
						required: true,
						maxlength: 30
					},
					
				},
				messages: {
					enumCode: {
						required: "请输入枚举编号",
						maxlength: $.validator.format("请输入长度为 {0} 以内的字符串"),
					},
					enumName: {
						required: "请输入枚举名称",
						maxlength: $.validator.format("请输入长度为 {0} 以内的字符串"),
					}
				},
				submitHandler: function(form){
					var data = $("#addEnu").serialize();
					$.ajax({
						type: "post",
						url: "/baseinfo/enum/save",
						data: data,
						dataType: "json",
						success: function(data){
							if(data.success){
								window.parent.showMsgSuccess("成功提示", data.errorMessage);
							}else{
								window.parent.showMsg("异常提示", data.errorMessage);
							}
						},
						error: function(error){
							console.log(error);
						}
					});
				},
				invalidHandler: function(form, validator) {  //不通过回调
					return false;
				}
			});
			
			$("#B_BASE_INFO_ENUM_SAVE").click(function(){
				$("#addEnu").submit();
			});
			
			//设置下拉框宽度
			$("#validateFlag_chosen").css("width","100%");
		})
		
	</script>
</body>
</html>